<header>
  <h1>🐾Paws & Tails</h1>
  <h3>Your Pet Our Passion...!!!</h3>
</header>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(137, 4, 4);">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="home">Home🏠</a>
      <a class="nav-item nav-link" href="about">About📃</a>
      <a class="nav-item nav-link" href="all-products">All Products🍲</a>
      <a class="nav-item nav-link" href="login">Login👤</a>
      <a class="nav-item nav-link" href="cart">Cart🛒</a>
    </div>
  </div>
  <!-- <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search🔍</button>
  </form> -->
</nav>