<div class="container-xxl px-0">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="First slide" style="margin: 0;"/>
      </div>
      <div class="carousel-caption" style="color: rgb(128, 19, 5); background-color: rgb(243, 110, 21);">
        <h3>Healthy Diet, Healthy Pets..!!</h3>
        <p>“Unconditional Love Deserves Uncompromising Nutrition.”</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Second slide" style=" margin: 0;" />
      </div>
      <div class="carousel-caption" style="color: rgb(113, 26, 4); background-color: rgb(222, 128, 21);">
        <h3>Food that Speaks Your Pet’s Language.</h3>
        <p>Satisfy Their Hunger, Fuel Their Energy..</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" alt="Third slide" style="margin: 0;" />
      </div>
      <div class="carousel-caption" style="color: rgb(248, 244, 4); background-color: rgb(41, 98, 3);">
        <h3>Nourish your pet’s soul with our food.</h3>
        <p>The perfect balance of taste and nutrition.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[3]" alt="Fourth slide" style="margin: 0;" />
      </div>
      <div class="carousel-caption" style="color: rgb(113, 26, 4); background-color: rgb(221, 133, 70);">
        <h3>Every ingredient matters</h3>
        <p>Good food. Good mood. Good pet</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[4]" alt="Fifth slide" style=" min-width:1300px; max-height: 1000px; margin: 0;" />
      </div>
      <div class="carousel-caption" style="color: rgb(113, 26, 4); background-color: rgb(244, 134, 55);">
        <h3>The tasty way to a healthier pet.</h3>
        <p>Premium food for premium pets.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[5]" alt="Sixth slide" style=" min-width:1300px; max-height: 1000px; margin: 0;" />
      </div>
      <div class="carousel-caption" style="color: rgb(245, 238, 236); background-color: rgb(26, 97, 7);">
        <h3>Satisfy their hunger, fuel their energy.</h3>
        <p>The food your pet would choose for themselves.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[6]" alt="Seventh slide"  style=" min-width:1300px; max-height: 1000px; margin: 0;" />
      </div>
      <div class="carousel-caption" style="color: rgb(113, 26, 4); background-color: rgb(244, 134, 55);">
        <h3>Feed them like family.</h3>
        <p>We don’t compromise on quality, neither should you.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[7]" alt="Seventh slide"  style=" min-width:1300px; max-height: 1000px; margin: 0;" />
      </div>
      <div class="carousel-caption" style="color: rgb(245, 241, 240); background-color: rgb(173, 3, 3);">
        <h3>Fuel their adventures with our food.</h3>
        <p>From farm to bowl, naturally delicious. The taste they love, the nutrition they need.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>